
<div>

  <% if flash[:notice] %>
      <div class="ui-widget">
              <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                      <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                        <strong>Szia!</strong>&nbsp;<%= flash[:notice] %></p>
              </div>

      </div>
      <script type="text/javascript">
        $('#personal-menu-details').show("pulsate");
      </script>
  <% end %>

  <h2><%=h @photographer.firstname%>, <%=h @photographer.lastname %></h2>
  <% if @photographer.avatar %>
  <p>
    <%= image_tag '../uploads/'+@photographer.avatar, :width => '100px'   %>
  </p>
  <% end %>
</div>
